<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToCategoryView()">
        <ion-icon slot="icon-only" name="book"></ion-icon>
      </ion-button>
      <ion-button (click)="goToMenuItemDetailView('new')">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar showCancelButton="focus" animated (ionChange)="searchContentChangedHandler($event.detail.value)">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="displayedMenuList">
    <div *ngFor="let menu of displayedMenuList">
      <ion-list-header>
        <ion-label>{{menu.category.name}}</ion-label>
      </ion-list-header>
      <ion-item button *ngFor="let menuItem of menu.itemList" (click)="goToMenuItemDetailView(menuItem.id)">
        <ion-img #menuItemImageElement slot="start" [src]="menuItem.imageUrl"
          (ionError)="menuItemImageElement.src='https://unpkg.com/ionicons@5.0.0/dist/svg/restaurant-outline.svg'">
        </ion-img>
        <ion-label>{{menuItem.name}}</ion-label>
        <ion-badge slot="end" [color]="menuItem.status | menuItemStatusColor">{{menuItem.status}}</ion-badge>
      </ion-item>
    </div>
  </ion-list>
  <ion-list *ngIf="!displayedMenuList">
    <div *ngFor="let i of [1, 2, 3]">
      <ion-list-header>
        <ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text>
      </ion-list-header>
      <ion-item button *ngFor="let i of [1, 2, 3]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text>
        <ion-skeleton-text slot="end" animated style="width: 50px;"></ion-skeleton-text>
      </ion-item>
    </div>
  </ion-list>
</ion-content>