<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToCategoryDetail('new')">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="categoryList">
    <ion-item button *ngFor="let category of categoryList" (click)="goToCategoryDetail(category.id)">
      <ion-label>{{category.name}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!categoryList">
    <ion-item button *ngFor="let i of [1, 2, 3, 4, 5]">
      <ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text>
    </ion-item>
  </ion-list>
</ion-content>