<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/item/category"></ion-back-button>
    </ion-buttons>
    <ion-title>{{isCreatingNewCategory ? 'Create New Category' : category.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="category.name"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="save()">Save</ion-button>
</ion-content>